<!DOCTYPE html>
<html>
  <head>
    <title>PACWOMAN</title>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser.min.js"></script>
    <script src="/javascripts/game.js"></script>
    {{!-- <link rel="icon" href="../public/images/icon.png" type="image/png"> --}}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main">The Dark Story Of PACWOMAN in The Underworld</div>
    {{{body}}}
  </body>
</html>
